
.logo {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 50px;
    margin-right: auto;
    margin-top: auto;
    float: left;    /* if you want it vertically middle of the navbar. */
}

#page {
background: url('background.jpg') repeat-x;
border-image-width: inherit;
background-size: 100%;

}

@media (max-width: 800px) {
  #page {      
  background: url('background2.jpg') repeat-x;
  border-image-width: inherit;
  background-size: 100%;
  }
}

ul {
  list-style-type: none;
  margin: auto;
  padding: auto;
  overflow: hidden;
  text-decoration-line: underline;
}

li {
  float: left;
  text-decoration-line: underline;
}

.login{
   float: right;
  text-decoration-line: underline;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 19px;
  text-decoration: none;
}

li a:hover {
  background-color:#52a041;
}
#heading{
  text-shadow: inherit;
  text-decoration: blink;
  text-decoration-color: white;
  color: white;
  font-size: 25px;
  text-underline-position: under;
  text-decoration-line: underline;


}


.read{
  align-content: center;
  flex-direction: inherit;
  font-size: 20px;
  text-align: center;
  color:black;
}

.container{
  display: flex;
  flex-wrap: wrap;


}

.container>div{
  align-content: center;
  background-color: springgreen;
  font-size: 20px;
  margin:20px;
  margin-left: 70px;
  margin-right: 99px;
  padding: 10px;
  width: 200px; 
  height: 200px;
  border-radius:50px 20px;
  text-align: center;
  padding-top: 35px;

}


.row>div{
  padding: 20px;
  margin-top:30px;
  background-color: #c9e9ba;
  border:2px solid green;
  font-size: 20px;
}

.bg
{
  background-image: url("books1.jpg");
  height: 100%;
  width: 100%;
}
 .book1{
  background-size:100px 100px;
   
    margin-right: auto;
    margin-top: auto;
     
 }


.sertable{
  margin-top: 45px;
  width: 85%;
  
  
  text-align: center;
  font-size: 30px;
}

.grid
{
  margin-top: 20px;
  background-color: green;
  display: grid;
  padding: 20px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto;
}

.grid-item{
  background-color: white;
  font-size: 20px;
  text-align: center;
  
}

